<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifiation</title>
</head>
<body>
    <hr>
    <form action = "/verifyEmail" method = "POST">  
        Email address: <input type="email" name="email" placeholder="######@gmail.com" required>  
        <input type = "submit" value="Submit">  
    </form><hr>OR<br><hr>
    <form action = "/verifyPhone" method = "POST">  
        Phone Number(with country code): <input type="number" name="phone" placeholder="91##########" required>  
        <input type = "submit" value="Submit">  
    </form><hr>
</body>
</html>